#menu{
    background-color: black;
    height: 50px;
    padding: 60px;
}


.hints{
    color:blueviolet;
    text-align: center;
    font-size: 10px;
    text-transform: capitalize;
    font-style: italic;
}


#english{

    background-color: green;
    list-style-type: number;
    font-size: 30px;
}
#hindi{

    background-color: black;
    color: aliceblue;
    font-size: 25px;
    text-transform: capitalize;
}
#bangla{

    background-color: orange;
    
    font-size: 30px;
}





summary{
    text-align: center;
    height: 45px;
    
}

ol{
    text-align: center;
}


ol li {
    color: red;
    text-align: center;
    /* display:block; */
    list-style-type: number;
    text-decoration: none;
}
ol li a {
    color: white;
    text-decoration:none;
    font-size: 15px;
font-weight: 900;}

details{
    padding-top: 10px;
    margin-top: 10px;
}

