#menu{
   background: #1e5799;
background: -moz-linear-gradient(top, #1e5799 0%, #207cca 44%, #207cca 44%, #2989d8 50%, #7db9e8 100%);
background: -webkit-linear-gradient(top, #1e5799 0%,#207cca 44%,#207cca 44%,#2989d8 50%,#7db9e8 100%);
background: linear-gradient(to bottom, #1e5799 0%,#207cca 44%,#207cca 44%,#2989d8 50%,#7db9e8 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 );
    height: 30px;
    padding: 20px;
}


.hints{
    color:blanchedalmond;
    text-align: center;
    font-size: 20px;
    text-transform: capitalize;
    font-style: italic;
    margin-top: 2px;
    font-weight: 900;
    text-shadow: #7db9e8;
}

.movie{
    margin-top: 40px;
}


#english{

    background-color: green;
    list-style-type: number;
    font-size: 30px;
}
#hindi{

    background-color: black;
    color: aliceblue;
    font-size: 25px;
    text-transform: capitalize;
}
#bangla{

    background-color: orange;
    
    font-size: 30px;
}





summary{
    text-align: center;
    height: 45px;
    
}

ol{
    text-align: center;
}


ol li {
    color: red;
    text-align: center;
    /* display:block; */
    list-style-type: number;
    text-decoration: none;
    font-size: 15px;
    padding: 20px;
}
ol li a {
    color: white;
    text-decoration:none;
    font-size: 15px;
font-weight: 900;}

details{
    padding-top: 10px;
    margin-top: 10px;
}

